<!--{% extends 'profiles/base.html' %}
{% block head %}<title>Project information</title>{% endblock %}-->

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-5 col-md-offset-3">
      <div class="table-responsive">
        <table class="table table-hover">
        <thead>
          <tr>
            <th>Duration</th>
            <th>Project - Remarks</th>
          </tr>
        </thead>
        <tbody>
          {% for time in all_time %}
        <tr>
          <td>{{ time.duration }}</td>
          <td>{{ time.project }}</td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
